<div>
	<header id="header">
		<div class="header-middle">
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="logo pull-left">
							<a href="index.html"><img src="{{IMAGES_SERVICE}}/images/logo.png" alt="" /></a>
						</div>
					</div>
					<div class="col-sm-8">
						<div class="shop-menu pull-right">
							<ul class="nav navbar-nav">
								<li><a href="/order"><i class="fa fa-shopping-cart"></i> Giỏ Hàng</a></li>
								<li><a href="login.html"><i class="fa fa-lock"></i>Đăng nhập</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-middle-->
	
		<div class="header-bottom"><!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-9">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="mainmenu pull-left">
							<ul class="nav navbar-nav collapse navbar-collapse">
								<li><a href="index.html" class="active">Trang Chủ</a></li>
								<li class="dropdown"><a href="#">Shop<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a href="shop.html">Sản Phẩm</a></li>
										<li><a href="product-details.html">Chi Tiết Sản Phẩm</a></li> 
                                    </ul>
                                </li> 
								<li><a href="contact-us.html">Liên Hệ</a></li>
								<li><a href="/order">Giỏ Hàng</a></li>
								<li><a href="contact-us.html">Thanh Toán</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="search_box pull-right">
							<input type="text" placeholder="Tìm kiếm."/>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-bottom-->
	</header><!--/header-->
	
	<section id="slider"><!--slider-->
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div id="slider-carousel" class="carousel slide" data-ride="carousel">
						<div class="carousel-inner">
							<div class="item active">
								<div class="col-sm-6">
									<h1><span>E</span>-SHOPPER</h1>
									<h2></h2>
									<p>Nơi mua bán, những sản phẩm mới nhất, chất lượng nhất trên thị trường điện thoại, laptop hiện nay. </p>
									<button type="button" class="btn btn-default get">Mua Sắm Ngay</button>
								</div>
								<div class="col-sm-6">
									<img src="{{IMAGES_SERVICE}}/images/girl1.jpg" class="girl img-responsive" alt="" />
									<img src="{{IMAGES_SERVICE}}/images/pricing.png"  class="pricing" alt="" />
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</section><!--/slider-->
	
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-12 padding-right">
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center">Chi Tiết Sản Phẩm</h2>
						<div class="col-md-4" *ngIf="listDataProduct">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="{{IMAGES_SERVICE}}/images/{{ listDataProduct[0].phoneImages }}" alt="" />
										<h2>{{ listDataProduct[0].phonePrice |  currency : "VND"}}</h2>
										<p>{{ listDataProduct[0].phoneName }}</p>
									</div>
								</div>
							</div>
							<h3>{{ listDataProduct.phoneInfo }}</h3>
							<a href="order/{{listDataProduct[0].id}}/phone" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Mua Hàng</a>
						</div>
						<div class="col-sm-4" *ngIf="listDataProductlaptop">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="{{IMAGES_SERVICE}}/images/{{ listDataProductlaptop.images }}" alt="" />
										<h2>{{ listDataProductlaptop.price |  currency : "VND"}}</h2>
										<p>{{ listDataProductlaptop.name }}</p>
									</div>
								</div>
							</div>
							<h3>{{ listDataProductlaptop.lap_info }}</h3>
							<a href="order/{{listDataProductlaptop.id}}/laptop" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Mua Hàng</a>
						</div>
					</div><!--features_items-->
				</div>
			</div>
		</div>
	</section>
	
	<footer id="footer"><!--Footer-->
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-sm-2">
						<div class="companyinfo">
							<h2><span>e</span>-shopper</h2>
							<p>Nơi mua bán, những sản phẩm mới nhất, chất lượng nhất trên thị trường điện thoại, laptop hiện nay.</p>
						</div>
					</div>
					<div class="col-sm-7">
						<div class="col-sm-3">
							<div class="video-gallery text-center">
								<a href="#">
									<div class="iframe-img">
										<img src="{{IMAGES_SERVICE}}/images/iframe1.png" alt="" />
									</div>
									<div class="overlay-icon">
										<i class="fa fa-play-circle-o"></i>
									</div>
								</a>
								<p>Nguyễn Đăng Nhật</p>
								<h2>12, DEC 1996</h2>
							</div>
						</div>
						
						<div class="col-sm-3">
							<div class="video-gallery text-center">
								<a href="#">
									<div class="iframe-img">
										<img src="{{IMAGES_SERVICE}}/images/iframe2.png" alt="" />
									</div>
									<div class="overlay-icon">
										<i class="fa fa-play-circle-o"></i>
									</div>
								</a>
								<p>Bùi Minh Tiến</p>
								<h2>12, DEC 1996</h2>
							</div>
						</div>
						
						<div class="col-sm-3">
							<div class="video-gallery text-center">
								<a href="#">
									<div class="iframe-img">
										<img src="{{IMAGES_SERVICE}}/images/iframe3.png" alt="" />
									</div>
									<div class="overlay-icon">
										<i class="fa fa-play-circle-o"></i>
									</div>
								</a>
								<p>Nguyễn Xuân Bằng</p>
								<h2>12, DEC 1996</h2>
							</div>
						</div>
						
						<div class="col-sm-3">
							<div class="video-gallery text-center">
								<a href="#">
									<div class="iframe-img">
										<img src="{{IMAGES_SERVICE}}/images/iframe4.png" alt="" />
									</div>
									<div class="overlay-icon">
										<i class="fa fa-play-circle-o"></i>
									</div>
								</a>
								<p>Nguyễn Xuân Bằng</p>
								<h2>12, DEC 1996</h2>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="address">
							<img src="{{IMAGES_SERVICE}}/images/map.png" alt="" />
							<p>232 Phạm Văn Đồng, Cầu Giấy, Hà Nội.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="footer-widget">
			<div class="container">
				<div class="row">
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>Dịch Vụ</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="#">Tư Vấn Trực Tuyến</a></li>
								<li><a href="#">Trạng Thái Đơn Hàng</a></li>
								<li><a href="#">Thay Đổi</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>Policies</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="#">Terms of Use</a></li>
								<li><a href="#">Privecy Policy</a></li>
								<li><a href="#">Refund Policy</a></li>
								<li><a href="#">Billing System</a></li>
								<li><a href="#">Ticket System</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>Giới Thiệu Về Shop</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="#">Company Information</a></li>
								<li><a href="#">Careers</a></li>
								<li><a href="#">Store Location</a></li>
								<li><a href="#">Affillate Program</a></li>
								<li><a href="#">Copyright</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<p class="pull-left">Copyright © 2019  Inc. All rights reserved.</p>
				</div>
			</div>
		</div>
		
	</footer><!--/Footer-->
</div>
<router-outlet></router-outlet>
